body{
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
}


.main button{
    padding:10px 20px; 
    border: none; 
    outline: none; 
    border: 1px dotted black; 
    border-radius: 20px; 
    cursor: pointer;
  					background: transparent;
  						color: orangered;
    text-transform: capitalize ;
  font-weight: 700;
  font-size: 20px;
}

.show{
  display: none;
  margin-top: 10px;
  font-weight: 600;
  color: white;
}